In [21]:
import pandas as pd

# Load the CSV file into a DataFrame
data = pd.read_csv('muc123a.csv')

# Display the first few rows of the DataFrame
data.head()

   tinh  huyen   xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac4a  m1ac4b  m1ac5  m1ac6  m1ac7  m1ac7a  m1ac8  m1ac9  m1ac10a  m1ac10b  m2ac1  m2ac2  m2ac3a  m2ac3b  m2ac4  m2ac5  m2ac6  m2ac7  m2ac8  m2ac9  m2ac10  m2ac11a  m2ac11b  m2ac12a  m2ac12b  m2ac13a  m2ac13b  m2ac13c  m2ac13d  m2ac13e  m2ac13f  m2ac13g  m2ac13g1  m2ac13g2  m2ac13g3  m2ac13h  m2ac13i  m2ac13i1  m2ac13k  m2ac14  m2ac15  m2ac16  m3c1  m3c2  m3c3a  m3c3b  m3c4  m3c5
0   101      1  3.0       1    13     1      2      1       9    1934     73    3.0     12     NaN      1    NaN      NaN      NaN      4    1.0     NaN     NaN    NaN      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   1.0    0.0    3.0     1   4.0
1   101      1  3.0       1    13     2      2      3       1    1969     39    1.0     12     NaN      1    NaN      NaN      NaN     12    NaN     3.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
2   101      1  3.0       1    13     3      2      3       8    1974     33    1.0     12     NaN      1    NaN      NaN      NaN     12    NaN     3.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
3   101      1  3.0       1    14     1      1      1      10    1943     64    2.0     12     NaN      1    NaN      NaN      NaN     12    NaN     9.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     1   4.0
4   101      1  3.0       1    14     2      2      2       5    1955     53    2.0     12     NaN      1    NaN      NaN      NaN     12    NaN     9.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN

In [22]:
household_keys = ["tinh", "hoso", "diaban", "huyen"]

household_data = data[(data["m1ac2"] == 1) & (data["m1ac3"] == 1) & (data["m1ac5"] >= 25)]

print(household_data)

       tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac4a  m1ac4b  m1ac5  m1ac6  m1ac7  m1ac7a  m1ac8  m1ac9  m1ac10a  m1ac10b  m2ac1  m2ac2  m2ac3a  m2ac3b  m2ac4  m2ac5  m2ac6  m2ac7  m2ac8  m2ac9  m2ac10  m2ac11a  m2ac11b  m2ac12a  m2ac12b  m2ac13a  m2ac13b  m2ac13c  m2ac13d  m2ac13e  m2ac13f  m2ac13g  m2ac13g1  m2ac13g2  m2ac13g3  m2ac13h  m2ac13i  m2ac13i1  m2ac13k  m2ac14  m2ac15  m2ac16  m3c1  m3c2  m3c3a  m3c3b  m3c4  m3c5
3       101      1   3.0       1    14     1      1      1      10    1943     64    2.0     12     NaN      1    NaN      NaN      NaN     12    NaN     9.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     1   4.0
6       101      1   3.0       1    15     1      1      1      10    1946     61    2.0     12     NaN      1    NaN      NaN      NaN     12    NaN     9.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   1.0   15.0    0.0     1   4.0
8       101      1   9.0      19    15     1      1      1      11    1957     50    2.0     12     NaN      1    NaN      NaN      NaN     12    NaN     3.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
13      101      1   9.0      19    20     1      1      1      10    1957     50    2.0     12     NaN      1    NaN      NaN      NaN     12    NaN     3.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
16      101      1  15.0      50    13     1      1      1      12    1972     35    2.0     12     NaN      2    NaN      NaN      NaN     12    NaN    10.0     0.0    1.0      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
...     ...    ...   ...     ...   ...   ...    ...    ...     ...     ...    ...    ...    ...     ...    ...    ...      ...      ...    ...    ...     ...     ...    ...    ...    ...    ...    ...    ...     ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...      ...       ...       ...       ...      ...      ...       ...      ...     ...     ...     ...   ...   ...    ...    ...   ...   ...
38231   823     13  12.0      25    15     1      1      1      -2    1930     78    2.0     12     NaN      1    NaN      NaN      NaN      2    1.0     NaN     NaN    NaN      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     1   2.0
38237   823     13  12.0      25    19     1      1      1       6    1976     32    2.0     12     NaN      1    NaN      NaN      NaN      2    1.0     NaN     NaN    NaN      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
38241   823     13  17.0       1    13     1      1      1      11    1950     57    2.0     12     NaN      1    NaN      NaN      NaN      2    1.0     NaN     NaN    NaN      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
38244   823     13  17.0       1    14     1      1      1      -2    1963     45    2.0     12     NaN      1    NaN      NaN      NaN      4    1.0     NaN     NaN    NaN      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   2.0    NaN    NaN     2   NaN
38249   823     13  17.0       1    20     1      1      1      -2    1951     57    2.0     12     NaN      1    NaN      NaN      NaN      3    1.0     NaN     NaN    NaN      3    2.0    NaN    NaN    NaN     NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN       NaN       NaN       NaN      NaN      NaN       NaN      NaN     NaN     NaN       0     2   1.0   17.0   30.0     2   NaN

[6897 rows x 56 columns]

In [23]:
# Load the CSV file into a DataFrame
data4a = pd.read_csv('muc4a.csv')

# Display the first few rows of the DataFrame
data4a.head()

   tinh  huyen   xa  diaban  hoso  matv  m4ac1a  m4ac1b  m4ac1c  m4ac2  m4ac3  m4ac4  m4ac5  m4ac6  m4ac7  m4ac8  m4ac9  m4ac10a  m4ac10b   m4ac11  m4ac12a  m4ac12b  m4ac12c  m4ac12d  m4ac12e  m4ac12f  m4ac13  m4ac14  m4ac15  m4ac16  m4ac17  m4ac18  m4ac19  m4ac20  m4ac21  m4ac22a  m4ac22b  m4ac22c  m4ac22d  m4ac22e  m4ac22f  m4ac23  m4ac24  m4ac25  m4ac26  m4ac27
0   101      1  3.0       1    13     1       2       2       2      2    3.0    NaN    NaN    NaN    NaN    NaN    NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN        0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN      NaN        0     NaN     NaN     NaN       1     2.0
1   101      1  3.0       1    13     2       1       2       2      1    NaN   93.0   17.0   12.0   26.0    8.0    1.0      6.0      NaN  17632.0    918.0      0.0      0.0      0.0      0.0      918     2.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN      NaN        0     NaN     NaN     NaN       1     1.0
2   101      1  3.0       1    13     3       2       2       2      2    5.0    NaN    NaN    NaN    NaN    NaN    NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN      NaN        0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN      NaN        0     NaN     NaN     NaN       1     3.0
3   101      1  3.0       1    14     1       1       2       2      1    NaN   24.0   46.0   12.0   26.0    8.0    5.0      6.0      NaN  39528.0   2823.0      0.0      0.0      0.0      0.0     2823     2.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN      NaN      NaN      NaN      NaN      NaN        0     NaN     NaN     NaN       1     1.0
4   101      1  3.0       1    14     2       1       2       1      1    NaN   91.0   14.0    6.0   28.0    8.0    0.0      6.0      NaN  14117.0      0.0      0.0      0.0      0.0      0.0        0     1.0    74.0    14.0    12.0    20.0     2.0    10.0     2.0     NaN      NaN      NaN      NaN      NaN      NaN        0     2.0     NaN     NaN       1     3.0

In [24]:
import pandas as pd

# Load data
data = pd.read_csv("muc123a.csv")
data4a = pd.read_csv("muc4a.csv")

# Define household keys
household_keys = ["tinh", "hoso", "diaban", "huyen"]

# Calculate individual total income
data4a["individual_income"] = data4a[["m4ac11", "m4ac12f", "m4ac21", "m4ac22f", "m4ac25"]].sum(axis=1, skipna=True)

# Sum total income by household
household_income = data4a.groupby(household_keys)["individual_income"].sum().reset_index()
household_income.rename(columns={"individual_income": "total_household_income"}, inplace=True)

# Create fam_size
data["fam_size"] = data.groupby(["tinh", "huyen", "xa", "diaban", "hoso"])["matv"].transform("max")

# Filter household_data (keeping only household representatives)
household_data = data[(data["m1ac2"] == 1) & (data["m1ac3"] == 1) & (data["m1ac5"] >= 25)]

# Merge total household income into household_data
household_data = household_data.merge(household_income, on=household_keys, how="left")

# Fill missing values in total_household_income with 0
household_data["total_household_income"] = household_data["total_household_income"].fillna(0)

# Select only the required columns, now including 'm1ac5'
final_data = household_data[
    ["tinh", "huyen", "xa", "diaban", "hoso", "matv", "m1ac2", "m1ac3", 
     "m1ac5", "total_household_income", "fam_size"]
]

# Display the filtered dataset
pd.set_option("display.max_columns", None)  # Ensure all columns are visible
print(final_data)

      tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size
0      101      1   3.0       1    14     1      1      1     64                 56468.0         3
1      101      1   3.0       1    15     1      1      1     61                 42351.0         2
2      101      1   9.0      19    15     1      1      1     50                     0.0         2
3      101      1   9.0      19    20     1      1      1     50                 47203.0         3
4      101      1  15.0      50    13     1      1      1     35                163382.0         4
...    ...    ...   ...     ...   ...   ...    ...    ...    ...                     ...       ...
6892   823     13  12.0      25    15     1      1      1     78                 27677.0         6
6893   823     13  12.0      25    19     1      1      1     32                     0.0         4
6894   823     13  17.0       1    13     1      1      1     57                     0.0         3
6895   823     13  17.0       1    14     1      1      1     45                     0.0         5
6896   823     13  17.0       1    20     1      1      1     57                 31399.0         4

[6897 rows x 11 columns]

In [25]:
# Load muc5a1.csv
data5a1 = pd.read_csv("muc5a1.csv")

# Define household keys
household_keys = ["tinh", "hoso", "diaban", "huyen"]

# Calculate individual consumption and DIY
data5a1["individual_consumption"] = data5a1["m5a1c2b"]
data5a1["DIY"] = data5a1["m5a1c3b"]

# Sum consumption and DIY by household
household_consumption = data5a1.groupby(household_keys)[["individual_consumption", "DIY"]].sum().reset_index()

# Rename to household-level variables
household_consumption.rename(columns={"individual_consumption": "household_consumption"}, inplace=True)

# Merge household consumption and DIY into final_data
final_data = final_data.merge(household_consumption, on=household_keys, how="left")

# Fill missing values with 0
final_data["household_consumption"] = final_data["household_consumption"].fillna(0)
final_data["DIY"] = final_data["DIY"].fillna(0)

# Calculate total household consumption
final_data["household_consumption2"] = final_data["household_consumption"] + final_data["DIY"]

# Display final dataset
pd.set_option("display.max_columns", None)  # Ensure all columns are visible
print(final_data)

      tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2
0      101      1   3.0       1    14     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3
1      101      1   3.0       1    15     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7
2      101      1   9.0      19    15     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2
3      101      1   9.0      19    20     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9
4      101      1  15.0      50    13     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8
...    ...    ...   ...     ...   ...   ...    ...    ...    ...                     ...       ...                    ...     ...                     ...
6892   823     13  12.0      25    15     1      1      1     78                 27677.0         6                  278.4    38.2                   316.6
6893   823     13  12.0      25    19     1      1      1     32                     0.0         4                  573.7    81.9                   655.6
6894   823     13  17.0       1    13     1      1      1     57                     0.0         3                  242.5   286.5                   529.0
6895   823     13  17.0       1    14     1      1      1     45                     0.0         5                  482.0     0.0                   482.0
6896   823     13  17.0       1    20     1      1      1     57                 31399.0         4                  160.7   154.7                   315.4

[6897 rows x 14 columns]

In [26]:
# Load dữ liệu
data5a2 = pd.read_csv("muc5a2.csv")

# Nhóm theo hộ gia đình và tính tổng tiêu thụ thực phẩm
household_food = (
    data5a2.groupby(["tinh", "hoso", "diaban", "huyen"])[["m5a2c6", "m5a2c10"]]
    .sum()
    .reset_index()
)

# Tính tổng tiêu thụ thực phẩm
household_food["total_food_consumption"] = household_food["m5a2c6"] + household_food["m5a2c10"]

# Merge vào final_data
final_data = final_data.merge(household_food, on=["tinh", "hoso", "diaban", "huyen"], how="left").fillna(0)

# Đưa m5a2c6 và m5a2c10 lên trước total_food_consumption
columns_order = [col for col in final_data.columns if col not in ["m5a2c6", "m5a2c10", "total_food_consumption"]]
final_data = final_data[columns_order + ["m5a2c6", "m5a2c10", "total_food_consumption"]]

# Hiển thị kết quả
print(final_data.head())

   tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2   m5a2c6  m5a2c10  total_food_consumption
0   101      1   3.0       1    14     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3  36904.7      0.0                 36904.7
1   101      1   3.0       1    15     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7  38741.9      0.0                 38741.9
2   101      1   9.0      19    15     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2  17770.4      0.0                 17770.4
3   101      1   9.0      19    20     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9  22501.7      0.0                 22501.7
4   101      1  15.0      50    13     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8  51339.0      0.0                 51339.0

In [27]:
# Load dữ liệu
data5b1 = pd.read_csv("muc5b1.csv")

# Nhóm theo hộ gia đình và tính tổng tiêu thụ thực phẩm
household_nonfood = (
    data5b1.groupby(["tinh", "hoso", "diaban", "huyen"])[["m5b1c4", "m5b1c5"]]
    .sum()
    .reset_index()
)

# Tính tổng tiêu thụ thực phẩm
household_nonfood["total_nonfood_consumption"] = household_nonfood["m5b1c4"] + household_nonfood["m5b1c5"]

# Merge vào final_data
final_data = final_data.merge(household_nonfood, on=["tinh", "hoso", "diaban", "huyen"], how="left").fillna(0)

# Đưa m5a2c6 và m5a2c10 lên trước total_food_consumption
columns_order = [col for col in final_data.columns if col not in ["m5b1c4", "m5b1c5", "total_nonfood_consumption"]]
final_data = final_data[columns_order + ["m5b1c4", "m5b1c5", "total_nonfood_consumption"]]

# Hiển thị kết quả
print(final_data.head())

   tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2   m5a2c6  m5a2c10  total_food_consumption   m5b1c4  m5b1c5  total_nonfood_consumption
0   101      1   3.0       1    14     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3  36904.7      0.0                 36904.7  21586.0     0.0                    21586.0
1   101      1   3.0       1    15     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7  38741.9      0.0                 38741.9  21488.0     0.0                    21488.0
2   101      1   9.0      19    15     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2  17770.4      0.0                 17770.4   7012.0     0.0                     7012.0
3   101      1   9.0      19    20     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9  22501.7      0.0                 22501.7   9280.0     0.0                     9280.0
4   101      1  15.0      50    13     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8  51339.0      0.0                 51339.0  17447.0     0.0                    17447.0

In [28]:
# Load dữ liệu
data5b2 = pd.read_csv("muc5b2.csv")

# Nhóm theo hộ gia đình và tính tổng tiêu thụ thực phẩm
annual_consumption = (
    data5b2.groupby(["tinh", "hoso", "diaban", "huyen"])[["m5b2c2", "m5b2c3"]]
    .sum()
    .reset_index()
)

# Tính tổng tiêu thụ thực phẩm
annual_consumption["total_annual_consumption"] = annual_consumption["m5b2c2"] + annual_consumption["m5b2c3"]

# Merge vào final_data
final_data = final_data.merge(annual_consumption, on=["tinh", "hoso", "diaban", "huyen"], how="left").fillna(0)

# Đưa m5a2c6 và m5a2c10 lên trước total_food_consumption
columns_order = [col for col in final_data.columns if col not in ["m5b2c2", "m5b2c3", "total_annual_consumption"]]
final_data = final_data[columns_order + ["m5b2c2", "m5b2c3", "total_annual_consumption"]]

# Hiển thị kết quả
print(final_data.head())

   tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2   m5a2c6  m5a2c10  total_food_consumption   m5b1c4  m5b1c5  total_nonfood_consumption   m5b2c2  m5b2c3  total_annual_consumption
0   101      1   3.0       1    14     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3  36904.7      0.0                 36904.7  21586.0     0.0                    21586.0  18950.0     0.0                   18950.0
1   101      1   3.0       1    15     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7  38741.9      0.0                 38741.9  21488.0     0.0                    21488.0  16235.0     0.0                   16235.0
2   101      1   9.0      19    15     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2  17770.4      0.0                 17770.4   7012.0     0.0                     7012.0   7130.0     0.0                    7130.0
3   101      1   9.0      19    20     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9  22501.7      0.0                 22501.7   9280.0     0.0                     9280.0  10040.0     0.0                   10040.0
4   101      1  15.0      50    13     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8  51339.0      0.0                 51339.0  17447.0     0.0                    17447.0  17091.0     0.0                   17091.0

In [29]:
# Load dữ liệu
data5b2 = pd.read_csv("muc5b2.csv")

# Nhóm theo hộ gia đình và tính tổng tiêu thụ thực phẩm
annual_consumption = (
    data5b2.groupby(["tinh", "hoso", "diaban", "huyen"])[["m5b2c2", "m5b2c3"]]
    .sum()
    .reset_index()
)

# Tính tổng tiêu thụ thực phẩm
annual_consumption["total_annual_consumption"] = annual_consumption["m5b2c2"] + annual_consumption["m5b2c3"]


# Merge vào final_data
final_data = final_data.merge(annual_consumption, on=["tinh", "hoso", "diaban", "huyen"], how="left")
final_data.fillna(0, inplace=True)

# Hiển thị kết quả
print(final_data.head())

   tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2   m5a2c6  m5a2c10  total_food_consumption   m5b1c4  m5b1c5  total_nonfood_consumption  m5b2c2_x  m5b2c3_x  total_annual_consumption_x  m5b2c2_y  m5b2c3_y  total_annual_consumption_y
0   101      1   3.0       1    14     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3  36904.7      0.0                 36904.7  21586.0     0.0                    21586.0   18950.0       0.0                     18950.0   18950.0       0.0                     18950.0
1   101      1   3.0       1    15     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7  38741.9      0.0                 38741.9  21488.0     0.0                    21488.0   16235.0       0.0                     16235.0   16235.0       0.0                     16235.0
2   101      1   9.0      19    15     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2  17770.4      0.0                 17770.4   7012.0     0.0                     7012.0    7130.0       0.0                      7130.0    7130.0       0.0                      7130.0
3   101      1   9.0      19    20     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9  22501.7      0.0                 22501.7   9280.0     0.0                     9280.0   10040.0       0.0                     10040.0   10040.0       0.0                     10040.0
4   101      1  15.0      50    13     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8  51339.0      0.0                 51339.0  17447.0     0.0                    17447.0   17091.0       0.0                     17091.0   17091.0       0.0                     17091.0

In [30]:
# Load dữ liệu
data5b3 = pd.read_csv("muc5b3.csv")

# Nhóm theo hộ gia đình và tính tổng chi tiêu khác
other_spending = (
    data5b3.groupby(["tinh", "hoso", "diaban", "huyen"])[["m5b3c2"]]
    .sum()
    .reset_index()
    .rename(columns={"m5b3c2": "other_spending"})
)

# Merge vào final_data
final_data = final_data.merge(other_spending, on=["tinh", "hoso", "diaban", "huyen"], how="left").fillna(0)

# Hiển thị đầy đủ thông tin + cột "other_spending"
pd.set_option("display.max_columns", None)
pd.set_option("display.expand_frame_repr", False)

# Hiển thị kết quả
print(final_data)

      tinh  huyen    xa  diaban  hoso  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2   m5a2c6  m5a2c10  total_food_consumption   m5b1c4  m5b1c5  total_nonfood_consumption  m5b2c2_x  m5b2c3_x  total_annual_consumption_x  m5b2c2_y  m5b2c3_y  total_annual_consumption_y  other_spending
0      101      1   3.0       1    14     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3  36904.7      0.0                 36904.7  21586.0     0.0                    21586.0   18950.0       0.0                     18950.0   18950.0       0.0                     18950.0          8150.0
1      101      1   3.0       1    15     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7  38741.9      0.0                 38741.9  21488.0     0.0                    21488.0   16235.0       0.0                     16235.0   16235.0       0.0                     16235.0          7850.0
2      101      1   9.0      19    15     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2  17770.4      0.0                 17770.4   7012.0     0.0                     7012.0    7130.0       0.0                      7130.0    7130.0       0.0                      7130.0           760.0
3      101      1   9.0      19    20     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9  22501.7      0.0                 22501.7   9280.0     0.0                     9280.0   10040.0       0.0                     10040.0   10040.0       0.0                     10040.0           640.0
4      101      1  15.0      50    13     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8  51339.0      0.0                 51339.0  17447.0     0.0                    17447.0   17091.0       0.0                     17091.0   17091.0       0.0                     17091.0          1800.0
...    ...    ...   ...     ...   ...   ...    ...    ...    ...                     ...       ...                    ...     ...                     ...      ...      ...                     ...      ...     ...                        ...       ...       ...                         ...       ...       ...                         ...             ...
6892   823     13  12.0      25    15     1      1      1     78                 27677.0         6                  278.4    38.2                   316.6  10468.8   2578.5                 13047.3   1516.0   300.0                     1816.0     391.0       0.0                       391.0     391.0       0.0                       391.0             0.0
6893   823     13  12.0      25    19     1      1      1     32                     0.0         4                  573.7    81.9                   655.6   8964.7   1092.0                 10056.7   2070.0   600.0                     2670.0     970.0       0.0                       970.0     970.0       0.0                       970.0             0.0
6894   823     13  17.0       1    13     1      1      1     57                     0.0         3                  242.5   286.5                   529.0   7349.5   1056.2                  8405.7    911.0   720.0                     1631.0     355.0       0.0                       355.0     355.0       0.0                       355.0            70.0
6895   823     13  17.0       1    14     1      1      1     45                     0.0         5                  482.0     0.0                   482.0   9983.0   3600.0                 13583.0   1056.0  1080.0                     2136.0     760.0       0.0                       760.0     760.0       0.0                       760.0           300.0
6896   823     13  17.0       1    20     1      1      1     57                 31399.0         4                  160.7   154.7                   315.4  14746.2   1638.0                 16384.2   5188.0  1620.0                     6808.0    1035.0       0.0                      1035.0    1035.0       0.0                      1035.0           500.0

[6897 rows x 27 columns]

In [31]:
# Load
consumption7_df = pd.read_csv("muc7.csv", delimiter=';')

# Tạo cột tổng chi phí điện, nước, rác
consumption7_df["elec_water_garbage"] = consumption7_df['m7c32'] + consumption7_df['m7c36'] + consumption7_df['m7c39']

# Chọn cột cần merge
utility_costs = consumption7_df[["tinh", "hoso", "diaban", "huyen","xa", "m7c32", "m7c36", "m7c39", "elec_water_garbage"]]
utility_costs.fillna(0, inplace=True)

print(utility_costs)

      tinh  hoso  diaban  huyen  xa   m7c32   m7c36  m7c39  elec_water_garbage
0      101    13       1      1   3   840.0  3720.0  108.0              4668.0
1      101    14       1      1   3   720.0  3000.0  108.0              3828.0
2      101    15       1      1   3  1000.0  5000.0   72.0              6072.0
3      101    15      19      1   9   180.0  1440.0   72.0              1692.0
4      101    19      19      1   9   180.0  1680.0  108.0              1968.0
...    ...   ...     ...    ...  ..     ...     ...    ...                 ...
9184   823    15      25     13  12     0.0   840.0    0.0                 0.0
9185   823    19      25     13  12     0.0   600.0    0.0                 0.0
9186   823    13       1     13  17     0.0     0.0    0.0                 0.0
9187   823    14       1     13  17     0.0     0.0    0.0                 0.0
9188   823    20       1     13  17     0.0     0.0    0.0                 0.0

[9189 rows x 9 columns]

C:\Users\ThinkBook\AppData\Local\Temp\ipykernel_16084\2977192277.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  utility_costs.fillna(0, inplace=True)

In [32]:
# Merge vào final_data
final_data = utility_costs.merge(final_data, on=["tinh", "hoso", "diaban","xa", "huyen"], how="inner")


# Hiển thị kết quả
print(final_data)

      tinh  hoso  diaban  huyen  xa   m7c32   m7c36  m7c39  elec_water_garbage  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2   m5a2c6  m5a2c10  total_food_consumption   m5b1c4  m5b1c5  total_nonfood_consumption  m5b2c2_x  m5b2c3_x  total_annual_consumption_x  m5b2c2_y  m5b2c3_y  total_annual_consumption_y  other_spending
0      101    14       1      1   3   720.0  3000.0  108.0              3828.0     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3  36904.7      0.0                 36904.7  21586.0     0.0                    21586.0   18950.0       0.0                     18950.0   18950.0       0.0                     18950.0          8150.0
1      101    15       1      1   3  1000.0  5000.0   72.0              6072.0     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7  38741.9      0.0                 38741.9  21488.0     0.0                    21488.0   16235.0       0.0                     16235.0   16235.0       0.0                     16235.0          7850.0
2      101    15      19      1   9   180.0  1440.0   72.0              1692.0     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2  17770.4      0.0                 17770.4   7012.0     0.0                     7012.0    7130.0       0.0                      7130.0    7130.0       0.0                      7130.0           760.0
3      101    20      19      1   9   180.0  1440.0  120.0              1740.0     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9  22501.7      0.0                 22501.7   9280.0     0.0                     9280.0   10040.0       0.0                     10040.0   10040.0       0.0                     10040.0           640.0
4      101    13      50      1  15   840.0  3600.0   60.0              4500.0     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8  51339.0      0.0                 51339.0  17447.0     0.0                    17447.0   17091.0       0.0                     17091.0   17091.0       0.0                     17091.0          1800.0
...    ...   ...     ...    ...  ..     ...     ...    ...                 ...   ...    ...    ...    ...                     ...       ...                    ...     ...                     ...      ...      ...                     ...      ...     ...                        ...       ...       ...                         ...       ...       ...                         ...             ...
6892   823    15      25     13  12     0.0   840.0    0.0                 0.0     1      1      1     78                 27677.0         6                  278.4    38.2                   316.6  10468.8   2578.5                 13047.3   1516.0   300.0                     1816.0     391.0       0.0                       391.0     391.0       0.0                       391.0             0.0
6893   823    19      25     13  12     0.0   600.0    0.0                 0.0     1      1      1     32                     0.0         4                  573.7    81.9                   655.6   8964.7   1092.0                 10056.7   2070.0   600.0                     2670.0     970.0       0.0                       970.0     970.0       0.0                       970.0             0.0
6894   823    13       1     13  17     0.0     0.0    0.0                 0.0     1      1      1     57                     0.0         3                  242.5   286.5                   529.0   7349.5   1056.2                  8405.7    911.0   720.0                     1631.0     355.0       0.0                       355.0     355.0       0.0                       355.0            70.0
6895   823    14       1     13  17     0.0     0.0    0.0                 0.0     1      1      1     45                     0.0         5                  482.0     0.0                   482.0   9983.0   3600.0                 13583.0   1056.0  1080.0                     2136.0     760.0       0.0                       760.0     760.0       0.0                       760.0           300.0
6896   823    20       1     13  17     0.0     0.0    0.0                 0.0     1      1      1     57                 31399.0         4                  160.7   154.7                   315.4  14746.2   1638.0                 16384.2   5188.0  1620.0                     6808.0    1035.0       0.0                      1035.0    1035.0       0.0                      1035.0           500.0

[6897 rows x 31 columns]

In [33]:
import pandas as pd

# Load data
data6a_df = pd.read_csv("muc6a.csv", delimiter=';')
data6b_df = pd.read_csv("muc6b.csv", delimiter=';')

# Convert fixed asset columns to numeric
for col in ['m6ac3', 'm6ac6', 'm6ac7']:
    data6a_df[col] = pd.to_numeric(data6a_df[col], errors='coerce')

# Calculate fixed asset wealth
data6a_df['wealth_fixed'] = (
    data6a_df['m6ac3'] * data6a_df['m6ac6'] * (data6a_df['m6ac7'] / 100)
)

# Group fixed asset wealth by household
wealth_df = (
    data6a_df.groupby(['tinh', 'huyen', 'xa', 'diaban', 'hoso'], as_index=False)['wealth_fixed'].sum()
)

# Add total wealth (same as wealth_fixed since it's the only asset type for now)
wealth_df['total_wealth'] = wealth_df['wealth_fixed']

# Merge wealth data into final_data
final_data = final_data.merge(wealth_df, on=['tinh', 'huyen', 'xa', 'diaban', 'hoso'], how='left').fillna(0)

# Đưa các cột wealth lên cuối dataset
cols = [c for c in final_data if c not in ["wealth_fixed", "total_wealth"]]
final_data = final_data[cols + ["wealth_fixed", "total_wealth"]]

# Hiển thị kết quả
print(final_data)

# Lưu dữ liệu đã cập nhật
final_data.to_csv("final_output.csv", index=False)

      tinh  hoso  diaban  huyen  xa   m7c32   m7c36  m7c39  elec_water_garbage  matv  m1ac2  m1ac3  m1ac5  total_household_income  fam_size  household_consumption     DIY  household_consumption2   m5a2c6  m5a2c10  total_food_consumption   m5b1c4  m5b1c5  total_nonfood_consumption  m5b2c2_x  m5b2c3_x  total_annual_consumption_x  m5b2c2_y  m5b2c3_y  total_annual_consumption_y  other_spending  wealth_fixed  total_wealth
0      101    14       1      1   3   720.0  3000.0  108.0              3828.0     1      1      1     64                 56468.0         3                 3473.3  1146.0                  4619.3  36904.7      0.0                 36904.7  21586.0     0.0                    21586.0   18950.0       0.0                     18950.0   18950.0       0.0                     18950.0          8150.0           0.0           0.0
1      101    15       1      1   3  1000.0  5000.0   72.0              6072.0     1      1      1     61                 42351.0         2                 2957.7   573.0                  3530.7  38741.9      0.0                 38741.9  21488.0     0.0                    21488.0   16235.0       0.0                     16235.0   16235.0       0.0                     16235.0          7850.0           0.0           0.0
2      101    15      19      1   9   180.0  1440.0   72.0              1692.0     1      1      1     50                     0.0         2                 1555.2     0.0                  1555.2  17770.4      0.0                 17770.4   7012.0     0.0                     7012.0    7130.0       0.0                      7130.0    7130.0       0.0                      7130.0           760.0           0.0           0.0
3      101    20      19      1   9   180.0  1440.0  120.0              1740.0     1      1      1     50                 47203.0         3                 1993.9     0.0                  1993.9  22501.7      0.0                 22501.7   9280.0     0.0                     9280.0   10040.0       0.0                     10040.0   10040.0       0.0                     10040.0           640.0           0.0           0.0
4      101    13      50      1  15   840.0  3600.0   60.0              4500.0     1      1      1     35                163382.0         4                 5259.8     0.0                  5259.8  51339.0      0.0                 51339.0  17447.0     0.0                    17447.0   17091.0       0.0                     17091.0   17091.0       0.0                     17091.0          1800.0           0.0           0.0
...    ...   ...     ...    ...  ..     ...     ...    ...                 ...   ...    ...    ...    ...                     ...       ...                    ...     ...                     ...      ...      ...                     ...      ...     ...                        ...       ...       ...                         ...       ...       ...                         ...             ...           ...           ...
6892   823    15      25     13  12     0.0   840.0    0.0                 0.0     1      1      1     78                 27677.0         6                  278.4    38.2                   316.6  10468.8   2578.5                 13047.3   1516.0   300.0                     1816.0     391.0       0.0                       391.0     391.0       0.0                       391.0             0.0           0.0           0.0
6893   823    19      25     13  12     0.0   600.0    0.0                 0.0     1      1      1     32                     0.0         4                  573.7    81.9                   655.6   8964.7   1092.0                 10056.7   2070.0   600.0                     2670.0     970.0       0.0                       970.0     970.0       0.0                       970.0             0.0       45000.0       45000.0
6894   823    13       1     13  17     0.0     0.0    0.0                 0.0     1      1      1     57                     0.0         3                  242.5   286.5                   529.0   7349.5   1056.2                  8405.7    911.0   720.0                     1631.0     355.0       0.0                       355.0     355.0       0.0                       355.0            70.0           0.0           0.0
6895   823    14       1     13  17     0.0     0.0    0.0                 0.0     1      1      1     45                     0.0         5                  482.0     0.0                   482.0   9983.0   3600.0                 13583.0   1056.0  1080.0                     2136.0     760.0       0.0                       760.0     760.0       0.0                       760.0           300.0           0.0           0.0
6896   823    20       1     13  17     0.0     0.0    0.0                 0.0     1      1      1     57                 31399.0         4                  160.7   154.7                   315.4  14746.2   1638.0                 16384.2   5188.0  1620.0                     6808.0    1035.0       0.0                      1035.0    1035.0       0.0                      1035.0           500.0         700.0         700.0

[6897 rows x 33 columns]

In [34]:
final_data['total_household_income']

0        56468.0
1        42351.0
2            0.0
3        47203.0
4       163382.0
          ...
6892     27677.0
6893         0.0
6894         0.0
6895         0.0
6896     31399.0
Name: total_household_income, Length: 6897, dtype: float64

In [35]:
final_data['m1ac5']

0       64
1       61
2       50
3       50
4       35
        ..
6892    78
6893    32
6894    57
6895    45
6896    57
Name: m1ac5, Length: 6897, dtype: int64

In [36]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd  # Ensure pandas is imported

# Rename 'm1ac5' to 'age'
final_data.rename(columns={"m1ac5": "age"}, inplace=True)

# Replace 0 with NaN in income, then take log
final_data["log_income"] = np.log(final_data["total_household_income"].replace(0, np.nan))

# Drop rows with missing log_income or age before grouping
log_income_by_age = final_data.dropna(subset=["log_income", "age"]).groupby("age")["log_income"].mean()

# Convert back from log to level income
Gt = np.exp(log_income_by_age)

print(Gt)

age
25     9786.759402
26    10675.650226
27    11241.808881
28    11726.563292
29    14278.982649
          ...
87    33296.000000
88    16080.456834
89    66835.002596
91     9241.000000
92    62900.859255
Name: log_income, Length: 67, dtype: float64

In [37]:
# Compute log income (log to handle zeros safely by replacing with NaN)
final_data["log_income"] = np.log(final_data["total_household_income"].replace(0, np.nan))

income = final_data.groupby("age")["total_household_income"].mean().reset_index()
income.columns = ["age", "Log Income"]

income["Gt"] = np.exp(income["Log Income"])
income

c:\Users\ThinkBook\AppData\Local\Programs\Python\Python312\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: overflow encountered in exp
  result = getattr(ufunc, method)(*inputs, **kwargs)

    age    Log Income   Gt
0    25  11348.433333  inf
1    26  15011.756098  inf
2    27  16659.207547  inf
3    28  13957.500000  inf
4    29  12192.521127  inf
..  ...           ...  ...
67   92  64544.000000  inf
68   93      0.000000  1.0
69   94      0.000000  1.0
70   95      0.000000  1.0
71   97      0.000000  1.0

[72 rows x 3 columns]

In [38]:
# Save to CSV
gt_by_age.to_csv("gt_by_age.csv", index=False)

NameError: name 'gt_by_age' is not defined